*.pyc
__pycache__
nohup.out
*.zip
*.pickle
*.ckpt*
*.json
*.csv
*.txt
!**/requirements*.txt
*.log
*.sock
*.db
*.ipynb_checkpoints
*.pkl
*.mha
*.pts
*.h5
*.npz
.DS_Store
.idea/
temp/registration_result/*
*.tar

